PORT=3000
NODE_ENV=development
LOG_LEVEL=error # 'info' for development
APP_NAME=Leger Jogja

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=No Reply <noreply@example.com>

FRONTEND_URL=http://localhost:3001
PASSWORD_RESET_TOKEN_EXPIRES_IN_MINUTES=60

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SRID=32748
DB_SRS_NAME=urn:ogc:def:crs:EPSG::32748
DB_SCHEMA=public

INITIAL_SA_EMAIL=
INITIAL_SA_PASS=
INITIAL_SA_USERNAME=

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_TTL=300

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
BUCKET_NAME=
ENDPOINT=
PUBLIC_DOMAIN=
