PORT=3000
NODE_ENV=development

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

INITIAL_SA_EMAIL=
INITIAL_SA_USERNAME=
INITIAL_SA_PASS=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SRID=32748
DB_SRS_NAME=urn:ogc:def:crs:EPSG::32748
DB_SCHEMA=

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_TTL=300
