# BACKEND
BE_PORT=3000
BE_PORT_HOST=3001
CONTAINER_BE_NAME=legger-be
BE_NODE_ENV=production
LOG_LEVEL=error
APP_NAME=Leger Jogja

JWT_SECRET=
JWT_EXPIRES_IN=2d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=10d

MAIL_HOST=
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=
MAIL_PASS=
MAIL_FROM=No Reply <noreply@example.com>

FRONTEND_URL=http://localhost:3002
PASSWORD_RESET_TOKEN_EXPIRES_IN_MINUTES=60

INITIAL_SA_EMAIL=email@mail.com
INITIAL_SA_USERNAME=username
INITIAL_SA_PASS=password

# DB TOOLS
CONTAINER_DB_TOOL_NAME=legger-db-tool

# DATABASE
CONTAINER_DB_NAME=legger-db
DB_HOST=localhost
DB_PORT_HOST=5432
DB_PORT=5432
DB_USER=legerjogja
DB_PASS=password
DB_NAME=citydb
DB_SRID=32749
DB_SRS_NAME=urn:ogc:def:crs:EPSG::32749
DB_SCHEMA=public

# REDIS
CONTAINER_REDIS_NAME=legger-redis
REDIS_PORT=6379
REDIS_PORT_HOST=6380
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_TTL=300

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
BUCKET_NAME=dt-legger
ENDPOINT=
PUBLIC_DOMAIN=


# FRONTEND
FE_PORT_HOST=3002
FE_PORT=3000
FE_NODE_ENV=production
CONTAINER_FE_NAME=legger-fe
NEXT_PUBLIC_API_BASE_URL="http://localhost:3001/api"
NEXT_PUBLIC_CESIUM_ION_TOKEN=""
NEXT_PUBLIC_TOKEN_ENCRYPTION_KEY="string"

# DOCKER
NETWORK_NAME=citydb_net